LISTEN=192.168.176.118:8080
PEOPLE_AGENT_TOKEN=REPLACE_WITH_THE_SAME_RANDOM_VALUE_AS_THE_DASHBOARD
HOME_ROOT=/home
PUBLIC_DOMAIN=p.meyerbrief.de
SSH_HOST=ssh.p.meyerbrief.de
STATE_ROOT=/var/lib/people-agent/users
SUSPENDED_ROOT=/var/lib/people-agent/suspended
SUSPENDED_SSH_CONFIG=/etc/ssh/sshd_config.d/90-people-suspended.conf
DEFAULT_QUOTA_BYTES=0
